body {
    background: darkblue;
}

#text {
    background: black;
    color: white;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.controls {
    border: 1px solid black;
    padding: 5px;
}

.stats {
    border: 1px solid black;
    color: black;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background: red;
}

.stat {
    padding-right: 10px;
}