.styled-table {
  border-collapse: collapse;
  /* margin: 25px; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
}
.styled-table thead tr {
  background-color: #551a8b;
  color: #ffffff;
  text-align: left;
  height: 50px;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #551a8a;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #551a8a;
}
