/* .dashboard-container {
  min-height: 100vh;
  width: 100vw;
}
#sidebar-container {
  width: 90%;
  position: absolute;
  top: 20%;
}

#menu-item-container {
  width: 100%;
  display: flex;
  margin-left: 5%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.menu-item {
  margin-right: 100px;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(6px);
  border-radius: 12px;

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);

  box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
    rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
  position: relative;
  width: 90%;

  margin: 10px;
  height: 400px;
  display: flex;

  /* box-sizing: border-box; */
/* } */

/* .menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.active-menu {
  background-color: var(--light-bg);
  border-radius: 20px 0px 0px 20px;
}

.menu-icon,
.menu-title {
  font-size: 2rem;
  margin: 0px 1.5rem;
  color: "#ffafcc";
} */ 

#sidebar-container {
  width: 25%;
  /* width: 350px; */
  /* justify-content: flex-end; */
}

#menu-item-container {
  width: 100%;
  display: flex;
  height: 75vh;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.menu-item {
  width: 80%;

  /* box-sizing: border-box; */
}

.menu-link{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.active-menu {
  background-color: var(--light-bg);
  border-radius: 20px 0px 0px 20px;
}

.menu-icon,
.menu-title {
  font-size: 2rem;
  margin: 0px 1.5rem;
  color: var(--primaryColor);
}

